<!DOCTYPE html>
<div class="dashboard">
        <div class="btn-group header">
                <span class="glyphicon <%=glyphicon%>"></span>
                <span class="tool-name"><%= name %></span>
                <% if (isVisibleInMenu === true) { %>
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <% } %>
        </div>
        <div class="simple-views-container">
                <div class="figure">
                        <span class="figure-name">Übersicht</span>
                        <table class="table">
                                <% _.each(_.allKeys(tableView[0]), (prop) => { %>
                                        <% if (prop !== "gfi") { %>
                                        <tr class="row">
                                                <th class="prop" scope="row" title="<%= tableView[0].gfi ? tableView[0].gfi[prop] : prop %>"><%= prop %></th>
                                                <% _.each(tableView, (dist) => { %>
                                                        <% if (prop === sortKey) { %>
                                                                <th scope="col" style="text-align:right;" class="district"><%= dist[prop] %></th>
                                                        <% } else { %>
                                                                <% if (Array.isArray(dist[prop])) { %>
                                                                        <td class="timeline-table">
                                                                                <ul class="list-group list-group-flush">
                                                                                <% _.each(dist[prop], (timeVal) =>{ %>
                                                                                        <li class="list-group-item nowrap">
                                                                                                <span class="val"><%= timeVal[1] %></span>
                                                                                                <small>(<%= timeVal[0] %>)</small>
                                                                                        </li>
                                                                                <% }); %>
                                                                                </ul>
                                                                        </td>
                                                                <% } else { %>
                                                                        <% if (!isNaN(parseFloat(dist[prop]))) { %>
                                                                                <td style="text-align:right;"><%= new Intl.NumberFormat("de-DE").format(dist[prop]) %></td>
                                                                        <% } else { %>
                                                                                <td style="text-align:right;"><%= dist[prop] %></td>
                                                                        <% } %>
                                                                <% } %>
                                                        <% } %>
                                                <% }); %>
                                        </tr>
                                        <% } %>
                                <% }); %>
                        </table>
                </div>
        </div>
        <div id="export-button"></div>
        <div class="detail-view-container">
                <div class="basic-graph">
                        <div class="btn-group header">
                                <span class="basic-graph-header"></span>
                        </div>
                        <svg class="dashboard-graph"></svg>
                </div>
        </div>
</div>