<!DOCTYPE html>
<div class="drag-bar">&#8942;</div>
<div class="dashboard-inner">
        <div class="btn-group header">
                <span class="glyphicon <%=glyphicon%>"></span>
                <span class="tool-name"><%= name %></span>
                <% if (isVisibleInMenu === true) { %>
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <% } %>
                <button type="button" class="btn btn-lgv-grey col-xs-1" id="help"><span class="glyphicon glyphicon-question-sign"></span></button>
        </div>
        <div id="dashboard-containers"></div>
        <div class="dashboard-tooltip"></div>
</div>
