.cosi {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.cosi .panel {
    height: 100%;
    /*width: 150px;*/
    position: absolute;
    top: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.75);

    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}

.cosi #topics-panel {
    left: 0;
}

.cosi #stages-panel {
    right: 0;
}

.cosi .panel .cosi-field {
    background-color: rgba(128, 128, 128, 0.5);
    margin: 15px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    padding: 50% 0;
    user-select: none;
}

.cosi .panel .cosi-field.selected {
    background-color: rgba(0, 152, 152, 0.75);
}

