@color_1: rgb(0, 0, 0);
@background_color_1:none;

.color-code {
    margin-bottom: 28px;
    background-color: @background_color_1;
    color: @color_1;
    font-size: 11px;
    padding: 4px;

    >div {
        padding: 4px 8px;
        border-right: 1px solid rgb(255, 255, 255);
    }
    >label{
        padding: 4px;
    }

}
