<div class="container">

    <% if(isToolStarted === false){ %>

    <div class="row">
        <!--Startscreen-->
        <div class="col-md-12 col-sm-12 start-headline">
            <div>Planungstool für soziale Infrastrukturen: Groß Borstel</div>
            <br>
            <h4>Bitte tippen Sie auf die Karte zum Starten der Anwendung.</h4>
        </div>
    </div>
    <% } %>

    <% if(isToolStarted === true){ %>

    <div class="row">
        <!--Charts after start-->
        <div class="col-md-6 col-sm-12">
            <div class="shadow-element holder-element">
                <div id="select-info-area">
                    <div>
                        <h3>Tippen Sie auf ein Kartenelement für weitere Informationen ...</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="shadow-element holder-element">
                <div id="chart-line-1"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="shadow-element holder-element">
                <div id="chart-column-1"></div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="shadow-element holder-element">
                <div id="chart-pie-1"></div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="shadow-element holder-element">
                <div id="chart-column-2"></div>
            </div>
        </div>
    </div>
    <div class="row">

        <div id="logo" class="col-md-5 col-sm-12">
            <img src="../../portal/cosiInfoscreen/assets/hcu-logo.png"/>
        </div>

        <div id="source-footer" class="col-md-7 col-sm-12">
            Quellen: Statistikamt Nord: Hamburger Stadtteil-Profile 2012-2016; Statistikamt Nord: Melderegister
            31.12.2016, BASFI: Kindertagesstätten in Hamburg.
        </div>
    </div>

    <% } %>

</div>



