<!DOCTYPE html>
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" id="layer-name" for="parameter-select"><%= layerName %></label>
    </div>
    <select class="form-control custom-select" id="parameter-select">
        <option value="count"><%= defaultOption %></option>
        <% _.each(numericalValues, (value) => { %>
            <option value="<%= value %>"><%= value %></option>
        <% }) %>
    </select>
    <input class="form-control" type="number" value="<%= initValue %>" id="modifier-input" step="<%= step %>">
    <div class="input-group-append">
        <label class="input-group-text" for="modifier-input">Gewichtung</label>
    </div>
</div>