<!DOCTYPE html>
<div class="btn-group header">
    <span class="glyphicon <%= glyphicon %>"></span>
    <span class="tool-name"><%= name %></span>
    <% if (isVisibleInMenu === true) { %>
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <% } %>
</div>
<div class="dropdown">
</div>
<div class="time-series-slider col-xs-10">
</div>
<div class="col-xs-2">
    <button type="button" class="btn btn-default btn-slider">
        <span class="glyphicon glyphicon-play"></span>
    </button>
</div>
<svg class="time-series-graph"></svg>
