<!DOCTYPE html>
<div class="panel panel-primary">
    <div class="panel-body">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h5>
            <strong><%= layerInfo.layerName %></strong>
        </h5>
        <h6>
            district to compare with: <strong><%= districtName %></strong>
        </h6>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">parameter</th>
                    <th scope="col">native value</th>
                    <th scope="col">tolerance</th>
                </tr>
            </thead>
            <tbody>
                <% _.each( districtInfo, function (info) { %>
                <tr>
                    <td><%= info.key %></td>
                    <td><%= info.value %></td>
                    <td id="<%= info.key %>-td"></td>
                </tr>
                <% }); %>

            </tbody>
        </table>
    </div>
</div>