.service-coverage {
	min-height: 200px;
	min-width : 400px;
}

#help,#backward {
	padding-top     : 4px;
	background-color: white;
	height          : 30px;
	width           : 30px;
	border          : 1px solid #ccc;
	cursor          : pointer;
	text-align      : center;
	min-width       : 30px;
}

#backward:hover,#help:hover {
	background-color: #d3d3d3;
}

table {
	width: 100%;

	td:nth-child(1) {
		width: 28%;
	}

	td:nth-child(2) {
		width: 28%;
	}

	td:nth-child(3) {
		width: 28%;
	}

	td:nth-child(4) {
		width: 8%;
	}

	td:nth-child(5) {
		width: 8%;
	}
}

#create-isochrones {
	width: 100%;
}

// #legend {
// 	td:nth-child(1) {
// 		width: 33.3%;
// 	}
// 	/* the second */
// 	td:nth-child(2) {
// 		width: 33.3%;
// 	}
// 	/* the third */
// 	td:nth-child(3) {
// 		width: 33.3%;
// 	}
// }