.container{
    min-height: 200px;
    min-width: 400px;
}
#service-coverage-help {
	padding-top     : 4px;
	background-color: white;
	margin          : 5px 0 0 0;
	height          : 30px;
	border          : 1px solid #ccc;
	cursor          : pointer;
	text-align      : center;
	min-width       : 30px;
}

#service-coverage-help:hover {
	background-color: #d3d3d3;
}