<!DOCTYPE html>
<div class="form-group">

    <label for="layer-selection">Filter:</label>
    <select class="form-control input-sm" id="layer-selection">
        <option disabled selected value> - </option>
        <% _.each( layerOptions, function (layer) { %>
        <option value=<%= layer.layerName %>><%= layer.layerName %></option>
        <% }); %>
    </select>
</div>
<div type="submit" class="btn btn-primary" id="add-filter">
    <span class="glyphicon glyphicon-plus"></span> 
    Hinzufügen
</div>