<!DOCTYPE html>

<% if (message !== "") { %>
    <div class="message"><%=message%></div>
<% }
else { %>
    <% if (Object.getOwnPropertyNames(results).length > 0) { %>
        <div class="heading">Versorgungschlüssel<br />(gewählter Einrichtungswert pro <%= resolution %> Einwohner der gewählten Zielgruppen):</div>
        <table class="table">
            <tr>
                <th scope="col">Gebiet</th>
                <th scope="col">Verhältnis</th>
                <th scope="col">Einrichtungswert</th>
                <th scope="col">Zielgruppe</th>
            </tr>
            <% for (var district in results) { %>
                <tr>
                    <th scope="row"><%= district %></th>
                    <td><%= results[district].ratio.toLocaleString('de-DE') %></td>
                    <td><%= results[district].facilities.toLocaleString('de-DE') %></td>
                    <td><%= results[district].demographics %></td>
                </tr>
            <% } %>
        </table>
        <div class="btn-group">
            <div id="export-button"></div>
            <div id="push-dashboard-button">
                <button type="button" class="btn btn-lgv-grey measure-delete" id="push-dashboard">
                    Im Dashboard anzeigen
                </button>
            </div>
        </div>
    <% } %>
<% } %>
